<html>
{{> partials/head.hbs }}
<body class="mahogany no-banner has-page-title landmarks">
{{> partials/header.hbs }}

<main class="wide no-section-nav">
    <div class="content-top">
        <div class="section breadcrumbs">
            <div class="row">
                <div class="layout">
                    <ul itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a
                                href="/" itemprop="item"><span itemprop="name">Home</span></a>
                            <meta content="1" itemprop="position">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section page-title bg-none">
            <div class="row">
                <div class="layout"><h1>Edit Administrative</h1></div>
            </div>
        </div>
    </div>
    <div id="main-content">
        <div class="bg-none section" id="content">
            <div class="row layout text">
                <h2>Members</h2>

                <p>All titles</p>
                <ul>
                    {{#each titles}}
                        <li style="font-size: 0.5rem;">{{readable}} ({{this}})</li>
                    {{/each}}
                </ul>

                <p>Branches</p>
                <ul>
                    {{#each branches}}
                        <li style="font-size: 0.5rem;">{{this}}</li>
                    {{/each}}
                </ul>

                {{#each members}}
                    <form action="/edit/administrative/member" method="post">
                        <div style="zoom: 0.5; width: 50%;">
                            <p><span>Username:</span> <input type="text" name="username" value="{{username}}"></p>
                            <p><span>Name:</span> <input type="text" name="name" value="{{name}}"></p>
                            <p><span>Constituency:</span> <input type="text" name="constituency"
                                                                 value="{{constituency}}"></p>
                            <p><span>Email:</span> <input type="text" name="email" value="{{email}}"></p>
                            <p><span>Phone Number:</span> <input type="text" name="phoneNumber" value="{{phoneNumber}}">
                            </p>
                            <p><span>Branch:</span> <input type="text" name="branch" value="{{branch}}"></p>
                            <p><span>Bio:</span> <input type="text" name="bio" value="{{bio}}"></p>
                            <p><span>Titles:</span> <input type="text" name="titles" value="{{titlesEnumString}}"></p>
                            <p><span>Committee Chairmanships:</span> <input type="text" name="committeeChairString" value="{{committeeChairString}}"></p>
                            <p><span>Active:</span> <input type="text" name="active" value="{{active}}"></p>
                        </div>
                        <button class="button" id="submit">{{#if username}}Update{{else}}Add{{/if}}</button>
                    </form>
                {{/each}}

            </div>
        </div>
    </div>
</main>

{{> partials/footer.hbs }}
</body>

</html>