<head>
    <title>{{pageTitle}}</title>

    <link rel="shortcut icon" type="image/x-icon" href="https://assets.iu.edu/favicon.ico">

    <link rel="stylesheet" type="text/css"
          href="https://fonts.iu.edu/style.css?family=BentonSans:regular,bold|BentonSansCond:regular,bold|GeorgiaPro:regular|BentonSansLight:regular">
    <link rel="stylesheet" href="https://assets.iu.edu/brand/3.2.x/brand.css">
    <link rel="stylesheet" href="https://assets.iu.edu/search/3.2.x/search.css">
    <link rel="stylesheet" href="https://assets.iu.edu/web/3.2.x/css/iu-framework.min.css">
    <link rel="stylesheet" href="https://assets.iu.edu/web/fonts/icon-font.css" media="screen">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" type="text/css" href="https://assets.iu.edu/web/rivet/1.7.2/form-only.min.css">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="{{siteTitle}}" property="og:title"/>
    <meta content="{{#if pageDescription}}{{else}}{{siteDescription}}{{/if}}" property="og:description"/>
    <meta content="{{siteTitle}}" property="og:site_name"/>
    <meta content="en_US" property="og:locale"/>
    <meta content="website" property="og:type"/>
    <meta content="{{pageTitle}}" name="twitter:title"/>
    <meta content="{{#if pageDescription}}{{else}}{{siteDescription}}{{/if}}" name="twitter:description"/>
    <meta content="@InspireIUSG" name="twitter:site"/>
    <meta content="@InspireIUSG" name="twitter:creator"/>
    <meta content="summary_large_image" name="twitter:card"/>
    <meta content="{{pageTitle}}" itemprop="name"/>
    <meta content="{{#if pageDescription}}{{else}}{{siteDescription}}{{/if}}" itemprop="description"/>

    <script src="https://assets.iu.edu/web/1.5/libs/modernizr.min.js"></script>
</head>